@media (max-width: 768px) {
    .content {
        text-align: center;
    }

    .movie-title {
        font-size: 2rem;
    }

    .movie-description {
        font-size: 1rem;
    }

    .get-started-btn {
        font-size: 1rem;
        padding: 10px 20px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-bottom: 10px;
    }
}

@media (max-width:576px) {
    .banner5-hero .email {
        flex-direction: column;
    }

    .banner5-hero .email input,
    .banner5-hero .email button {
        width: 100%;
    }

    .banner5-hero h1 {
        font-size: 2.5rem;
    }

    .header img {
        width: 100px;
    }

    .header .nav select {
        font-size: 1rem;
    }

    .banner5 {
        min-height: fit-content;
    }

    .movie-title {
        font-size: 1.5rem;
    }

    .movie-description {
        font-size: 0.9rem;
    }

    .get-started-btn {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}