<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escape Template</title>
    <link rel="stylesheet" href="./assets/styles/styles.css">
    <link rel="stylesheet" href="./assets/styles/media.css">
</head>

<body>
    <header>
        <img src="https://htmlbeans.com/html/botanical/images/logo.png" alt="logo">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">STORE</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">PAGES</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </nav>

        <button>Create account</button>
    </header>

    <!-- <h1>creating banner using single color</h1> -->
    <section class="banner2">
        <div class="banner2-content">
            <h1 class="heading">Let's do it together.</h1>
            <p class="subtitle">We travel the world in search of stories. Come along for the ride.</p>
            <button>View Latest Post</button>
        </div>
    </section>

    <main>
        <section class="featured-posts">
            <h2>Featured Posts</h2>
            <div class="posts">
                <article style="background: url(https://cdn.prod.website-files.com/5e4b1929fccc7f96f6de825d/5e4b1929fccc7fb465de834a_photo-1443926818681-717d074a57af.jpg) no-repeat center; background-size: cover; background-size: cover;
                    box-shadow: 0px 0px 65px 19px rgba(29, 29, 29, 1) inset,
                        0px 2px 1px 1px rgba(255, 255, 255, 0.9) inset,
                        0px -2px 1px 0px rgba(0, 0, 0, 0.25) inset;" class="post">

                    <span class="category" style="background-color: #a872b7;">Photography</span>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="post-info">
                        <h3>The Road Ahead</h3>
                        <p style="color: #ddd;">The road ahead might be paved - it might not be.</p>
                        <div class="profile">
                            <div class="profile-name">
                                <img src="https://cdn.prod.website-files.com/5e4b1929fccc7f96f6de825d/5e4b1929fccc7ff9f8de8335_128-14.jpg"
                                    alt="loading">
                                <div class="name">Mat Vogels</div>
                            </div>
                            <div class="date">September 25, 2024</div>
                        </div>
                    </div>
                </article>
                <article style="background: url(https://cdn.prod.website-files.com/5e4b1929fccc7f96f6de825d/5e4b1929fccc7f0439de8336_photo-1443304895043-ef30921332c5.jpg) no-repeat center; background-size: cover; box-shadow: 0px 0px 65px 19px rgba(29,29,29,1) inset,
                0px 2px 1px 1px rgba(255,255,255,0.9) inset,
                0px -2px 1px 0px rgba(0,0,0,0.25) inset;" class="post">

                    <span class="category" style="background-color: #dd783f;">Photography</span>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="post-info">
                        <h3>From Top Down</h3>
                        <p style="color: #ddd;">Once a year, go someplace you’ve never been before.</p>
                        <div class="profile">
                            <div class="profile-name">
                                <img src="https://cdn.prod.website-files.com/5e4b1929fccc7f96f6de825d/5e4b1929fccc7f7389de832c_128-34.jpg"
                                    alt="loading">
                                <div class="name">William Wong</div>
                            </div>
                            <div class="date">September 25, 2024</div>
                        </div>
                    </div>
                </article>
            </div>
        </section>

        <section class="most-recent">
            <h2>Most Recent</h2>
            <div class="posts">
                <article class="post">
                    <img src="https://cdn.prod.website-files.com/5e4b1929fccc7f96f6de825d/5e4b1929fccc7f8ce9de833d_photo-1433854304641-67729357fe18.jpg"
                        alt="Post Image">
                    <div class="post-info">
                        <span style="background-color: #e6c728;" class="category1">Nature</span>
                        <h3 style="color: #6c6969;">Still Standing Tall</h3>
                        <p style="color: #959292; margin-bottom: 35px;">Life begins at the end of your comfort zone.</p>
                        <div class="profile">
                            <div class="profile-name">
                                <img src="https://cdn.prod.website-files.com/5e4b1929fccc7f96f6de825d/5e4b1929fccc7f7389de832c_128-34.jpg"
                                    alt="loading">
                                <div class="name">William Wong</div>
                            </div>
                            <div class="date">9/25/2024</div>
                        </div>
                    </div>
                </article>
                <article class="post">
                    <img src="https://cdn.prod.website-files.com/5e4b1929fccc7f96f6de825d/5e4b1929fccc7f7caade8338_photo-1431329842981-433c8635c2b9.jpg"
                        alt="Post Image">
                    <div class="post-info">
                        <span style="background-color: #a872b7;" class="category1">protography</span>
                        <h3 style="color: #6c6969;">Still Standing Tall</h3>
                        <p style="color: #959292; margin-bottom: 35px;">Life begins at the end of your comfort zone.</p>
                        <div class="profile">
                            <div class="profile-name">
                                <img src="https://cdn.prod.website-files.com/5e4b1929fccc7f96f6de825d/5e4b1929fccc7ff9f8de8335_128-14.jpg"
                                    alt="loading">
                                <div class="name">Mat Vogels</div>
                            </div>
                            <div class="date">9/25/2024</div>
                        </div>
                    </div>
                </article>
                <article class="post">
                    <img src="https://cdn.prod.website-files.com/5e4b1929fccc7f96f6de825d/5e4b1929fccc7f1017de8349_photo-1433155327100-12aac6a14ff1.jpg"
                        alt="Post Image">
                    <div class="post-info">
                        <span style="background-color: #4aaec2;" class="category1">Relaxation</span>
                        <h3 style="color: #6c6969;">Still Standing Tall</h3>
                        <p style="color: #959292; margin-bottom: 35px;">Life begins at the end of your comfort zone.</p>
                        <div class="profile">
                            <div class="profile-name">
                                <img src="https://cdn.prod.website-files.com/5e4b1929fccc7f96f6de825d/5e4b1929fccc7ff9f8de8335_128-14.jpg"
                                    alt="loading">
                                <div class="name">Mat Vogels</div>
                            </div>
                            <div class="date">9/25/2024</div>

                        </div>
                    </div>
                </article>
            </div>
            <div class="posts">
                <article class="post">
                    <img src="https://cdn.prod.website-files.com/5e4b1929fccc7f96f6de825d/5e4b1929fccc7f5e3ede8340_photo-1441906363162-903afd0d3d52.jpg"
                        alt="Post Image">
                    <div class="post-info">
                        <span style="background-color: #d25f7c;" class="category1">Vacation</span>
                        <h3 style="color: #6c6969;">Still Standing Tall</h3>
                        <p style="color: #959292; margin-bottom: 35px;">Life begins at the end of your comfort zone.</p>
                        <div class="profile">
                            <div class="profile-name">
                                <img src="https://cdn.prod.website-files.com/5e4b1929fccc7f96f6de825d/5e4b1929fccc7f7389de832c_128-34.jpg"
                                    alt="loading">
                                <div class="name">William Wong</div>
                            </div>
                            <div class="date">9/25/2024</div>
                        </div>
                    </div>
                </article>
                <article class="post">
                    <img src="https://cdn.prod.website-files.com/5e4b1929fccc7f96f6de825d/5e4b1929fccc7f9857de8342_photo-1442347504183-965bd14449ac.jpg"
                        alt="Post Image">
                    <div class="post-info">
                        <span style="background-color: #d25f7c;" class="category1">Vacation</span>
                        <h3 style="color: #6c6969;">Still Standing Tall</h3>
                        <p style="color: #959292; margin-bottom: 35px;">Life begins at the end of your comfort zone.</p>
                        <div class="profile">
                            <div class="profile-name">
                                <img src="https://cdn.prod.website-files.com/5e4b1929fccc7f96f6de825d/5e4b1929fccc7ff9f8de8335_128-14.jpg"
                                    alt="loading">
                                <div class="name">Mat Vogels</div>
                            </div>
                            <div class="date">9/25/2024</div>
                        </div>
                    </div>
                </article>
                <article class="post">
                    <img src="https://cdn.prod.website-files.com/5e4b1929fccc7f96f6de825d/5e4b1929fccc7f0ea0de8344_photo-1433878455169-4698e60005b1.jpg"
                        alt="Post Image">
                    <div class="post-info">
                        <span style="background-color: #49ae5c;" class="category1">travel</span>
                        <h3 style="color: #6c6969;">Still Standing Tall</h3>
                        <p style="color: #959292; margin-bottom: 35px;">Life begins at the end of your comfort zone.</p>
                        <div class="profile">
                            <div class="profile-name">
                                <img src="https://cdn.prod.website-files.com/5e4b1929fccc7f96f6de825d/5e4b1929fccc7ff9f8de8335_128-14.jpg"
                                    alt="loading">
                                <div class="name">Mat Vogels</div>
                            </div>
                            <div class="date">9/25/2024</div>

                        </div>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <div class="blurred-wrapper">
        <div class="stay-in-touch">
            <h2>Stay in Touch</h2>
            <form>
                <input type="email" placeholder="Enter your email address">
                <button type="submit">Submit</button>
            </form>
        </div>

        <footer>
            <p><b>Escape.</b></p>
            <nav>
                <a href="#">Home</a>
                <a href="#">Categories</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </nav>
        </footer>
    </div>

</body>

</html>