<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/styles/style.css">
    <link rel="stylesheet" href="./assets/styles/media.css">

</head>

<body>

    <section class="blur-bg">
        <header>
            <div class="navbar">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Logonetflix.png" alt="Netflix Logo"
                    class="logo">
                <div class="nav-links">
                    <button class="language-btn">🌐 English</button>
                    <button class="sign-in-btn">Sign In</button>
                </div>
            </div>
        </header>

        <main>
            <div class="hero">
                <div class="overlay"></div>
                <div class="content">
                    <h1>Unlimited movies, TV shows and more</h1>
                    <p>Starts at ₹149. Cancel at any time.</p>
                    <div class="email-form">
                        <input type="email" placeholder="Email address" class="email-input">
                        <button class="get-started-btn">Get Started</button>
                    </div>
                </div>
                <!-- Navigation Dots -->
                <div class="dots">
                    <span class="dot active"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
        </main>
    </section>

    <!-- <section class="g-section">
    <div class="g-main"> -->
    <section class="trending">
        <div class="heading">Trending Now</div>
        <div class="movies">
            <marquee behavior="" direction="">
                <ul>
                    <li><img src="https://occ-0-2087-2186.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABYiowNzOzXhM56bbxzKXz2sbZcC9H8Uv4QmObuwHz2-9O5hMitSn3kiESvHpNH0eYEwAeC4omrHT_mbBcUJP1gZmi7SqGvZzv8LKQ_iB1rdYkRMRSMUaV8VFGjmYXkPcz6YHZA.jpg?r=a4e"
                            alt="kapil show"></li>
                    <li><img src="https://occ-0-2087-2186.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABV08j_6IdtOwMPV39S0jqAub7E2NfwSS0901SSXW6vuUWoXU41iJfo9i1PkMsd88oPeigxFTOCXM7LVsgkTWo6VM6llohGIF5KiB.jpg?r=680"
                            alt="devara"></li>
                    <li><img src="https://occ-0-2087-2186.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABQbS4CFZ-ufswkyGOpUrO3xzpd-AHfvF5RYWvv-uTYkQ9RPc_GUUpMic_R21X7ydL5k2EfTjabfTcUjHAEnF2_T9Pj9Vz3eqmaTLgr5ObZ6Vc18diYS_nwoJDRplzvko7cHDJg.jpg?r=cf5"
                            alt="do patti"></li>
                    <li><img src="https://occ-0-2087-2186.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABaFRUTeW0LnUi6MG0wSQ03pSCWgnr6vr1ZHxyQWa2XE4HhU8xI63h1SaEKZuE1ocnFflbw-ZWp0mkOYkEHquoVl5U7u0stnCbpdB4KreIYWRfX65LNX-W-ifs5szoksfAi0xRQ.jpg?r=04a"
                            alt="kali kali"></li>
                    <li><img src="https://occ-0-2087-2186.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABUGpx3KxK2GUQHQ68HtOJwC_br8NN8L-bPkpuY5VHuQWULJQqrPWZHEY3BkVkdShzUFqfO3UsANsuCctXTMkkxu2yBa83fV66Vse.jpg?r=f45"
                            alt="mei"></li>
                    <li><img src="https://occ-0-2087-2186.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABSZetRg7uO-n2r67n40PjPqJ1RmMBP_Tm7vvR3qwsMsi1k28jp-2CUIP9zC2Vs0Ktyr14ibpK6fVvO1QcqoB_yLhkFxGhw0wxl8Y.jpg?r=c25"
                            alt="bagheera"></li>
                    <li><img src="https://occ-0-2087-2186.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABT0zkn5cDQBdKryll-W8tDB2aGmk2gMrKrrLek1uz6P2y53EqQ7R1suc1jiB4piCsWPwzJwEJtPchx_uf_V2KFpaotwlHbhUf7lk.jpg?r=4e6"
                            alt="goat"></li>
                    <li><img src="https://occ-0-2087-2186.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABTu11varJwIpyauRXZ3DG2d3QInikdR0pRqZjgaEesWKMVjqwg63wMYfsdFG5fQ41FKwwB30jWDlABsh6xcEk28iUeFPLy-8hNo1aZtUUnTCt1XXcDIkDlTNrGXMyzb9mu78eA.jpg?r=9bf"
                            alt="nayanthara"></li>
                    <li> <img
                            src="https://occ-0-2087-2186.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABZvdE7xbUeSaHOsLWwK8scFGhMjGIvWSxiymsz0uRw_6sEXJEtIOwcM9J6x2a_fQ7z4APRpkxm5rsxoZtzzjqplrWIWsC0EDQGRn.jpg?r=0f6"
                            alt="animal"></li>
                    <li><img src="https://occ-0-2087-2186.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABR-OeORIMDtzIeXeHBbNYp1fefHOuIc7lazPT0HiuXyqW4BU_uK6KqMAYGZObOaZFNC2mWwvBbUPX103oRPI2Q_WNdhWkoo7JM1M.jpg?r=17c"
                            alt="khel khel mein"></li>
                </ul>
            </marquee>
        </div>
        </div>
    </section>

    <section class="only-netflix">
        <div class="heading">Only on Netflix</div>
        <div class="movies">
            <marquee behavior="" direction="">
                <ul>
                    <li><img src="https://occ-0-2087-2186.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABft7cG56_SaeA1ddLnGBeJVXooR0ntxbFNFBm1t_iVcWt2rMzJWBy_USVFJWcIJCDhc4Am6XBzP6E2A-cG5FBqQklXDwabsPeRUgNpmnFuVs0LdbXl8YfN3xBNQtDEPfAJB-qg.jpg?r=3f5"
                            alt="money heist"></li>
                    <li><img src="https://occ-0-2087-2186.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABYqRvb2ggbShUZGi-isKo-BGAJBcWYkD_YO1XKo96UQYIsIeKhdzKtB5kt6gb-6R3N8gawnLaD20OIvwaZHjxQNXxpM07Xpl3hmbnCTxHXivY4pPEDEulxsViwNjCd-snjlirg.jpg?r=e79"
                            alt="stranger"></li>
                    <li><img src="https://occ-0-2087-2186.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABcw8LGdRKWrDfG7CxEzAdDwhZywMvxszPpLslgpya4QqRpi284YvcfTq3oLjuIXoFVqwHA_J1t_sYDh7W8-X_Y5D-t5UbenaE6mTGIJuG2PvLQyhhEqIEOFbi8uBrPk_3Bl7Sg.jpg?r=112"
                            alt="lucifer"></li>
                    <li><img src="https://occ-0-2087-2186.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABQwrwezcSM5geqNYZrFw3PyiFW13EHMSL4Mmz3ZtqiJlWjLBszWUpogTTUkbn1MF5QkKLDaBlb9wo3CFH1oUJlEUaCJRGcCgPK6juLN5oacB8m5a5auGrFvF5Z9UcVHieGPzcg.jpg?r=c7b"
                            alt=" queen of tears"></li>
                    <li><img src="https://occ-0-2087-2186.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABdgpSZsoIHS1e4c6cRs_3gH6TNUjSbvwsZyXBztTGXJz5Ru9kP9Bzma7xTEZetGyWdemjIcCloCX891oh172RON8H1Tp0vFHO9BUXHNVRanrahNNhIcXL_iAWblQPL5FsqIR3A.jpg?r=a0c"
                            alt="heramandi"></li>
                    <li><img src="https://occ-0-2087-2186.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABfTMn9KK8WEok_IG03QwA3F12puWcGX8fFLb0JZZ7MpIlJtZWHIAhJOmN9bR-bf9Lm3O4W24ii_7t0MRzSp_sKb6GkCmhbHBjSUumUtEuGvVSd9qUtbmewHntleqcd07U8HKtQ.jpg?r=28a"
                            alt="when the phone rings"></li>
                    <li><img src="https://occ-0-2087-2186.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABZOG5x-Xyo1eGKnA-8LzlH3skNBcPgrgRhOgGYjBkaJy93jhR5e_icsQlAjgDpdqxW-nG8k407WNuv6mO0E5Kr3QjIaLrpk2mpBobkEBmi2Ay9JjYsoSVySw8P5nAihQmVgKHA.jpg?r=e73"
                            alt="CA topper"></li>
                    <li><img src="https://occ-0-2087-2186.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABX1lxH6ot42tEtDkIAiixhHaueJTMVBMkLyFJMq9rZxV3J9KSLsp7zRG1EvS4kU_dReJcmHjS3P4SmJykU0_dYOsuYywxd45iNBRAI_ZddxrqzICWI5UG_XGeo3pZw7o0KTirw.jpg?r=e07"
                            alt="ic814"></li>
                    <li><img src="https://occ-0-2087-2186.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABR6UnWBGBOAz5JZd7IONzPOmsKB28qsW4hHaqm_50w9Xz3a6uLnj4Kf_Ei4gN2waOf0UQbG8HIGM6Q_3mOnOtnpDUwj32uoOhQYw4jfnVGxutCSrobiNHCpVwV1n7bFAcw6LkQ.jpg?r=e3c"
                            alt="My demon"></li>
                    <li><img src="https://occ-0-2087-2186.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABWPKv6lDqAe_1fNm_4TL-2Yk4ORbEmfg4fL01r4E6MljviABoEwAkKMztV4wm9lSyK7BznF-f2yTrC-jB9AkidJGu4-WH0Mb8jHJLjOwc5-71eR1wQXFl_kRiOnRz0VbrQe9iw.jpg?r=5c7"
                            alt="cobra kai"></li>
                </ul>
            </marquee>
        </div>
    </section>

    <section class="reasons">
        <div class="heading">More reasons to join</div>
        <div class="division">
            <div class="one">
                <h2>Stories tailored to your taste</h2>
                <div class="small-tag"><i class="fa-solid fa-hand-holding-heart"></i></div>
            </div>
            <div class="one">
                <h2>Cancel or switch plans anytime</h2>
                <div class="small-tag"><i class="fa-solid fa-handshake"></i></div>
            </div>
            <div class="one">
                <h2>A place just for kids</h2>
                <div class="small-tag"><i class="fa-solid fa-heart"></i></div>
            </div>
            <div class="one">
                <h2>For your phone,tablet,laptop <br> and tv</h2>
                <div class="small-tag"><i class="fa-solid fa-tv"></i></div>
            </div>
        </div>
    </section>

    <section class="faq">
        <div class="heading">Frequently asked questions</div>
        <details>
            <summary>What is Netflix?</summary>
            <p>Netflix is a streaming service that offers a wide variety of award-winning TV shows, movies, anime,
                documentaries and more – on thousands of internet-connected devices. <br>

                You can watch as much as you want, whenever you want, without a single ad – all for one low monthly
                price. There's always something new to discover, and new TV shows and movies are added every week!</p>
        </details>

        <details>
            <summary>How much does the netflix cost?</summary>
            <p>Watch Netflix on your smartphone, tablet, Smart TV, laptop, or streaming device, all for one fixed
                monthly fee. Plans range from ₹149 to ₹649 a month. No extra costs, no contracts.</p>
        </details>

        <details>
            <summary>Where can i watch?</summary>
            <p>Watch anywhere, anytime. Sign in with your Netflix account to watch instantly on the web at netflix.com
                from your personal computer or on any internet-connected device that offers the Netflix app, including
                smart TVs, smartphones, tablets, streaming media players and game consoles. <br>

                You can also download your favourite shows with the iOS or Android app. Use downloads to watch while
                you're on the go and without an internet connection. Take Netflix with you anywhere.</p>
        </details>

        <details>
            <summary>How do I cancel?</summary>
            <p>Netflix is flexible. There are no annoying contracts and no commitments. You can easily cancel your
                account online in two clicks. There are no cancellation fees – start or stop your account anytime.</p>
        </details>
    </section>


    <section class="btn">
        <button>Get Started > </button>
        <p>Create or restart your membership</p>
    </section>

    <footer>
        <div class="question">
            <h3>Questions? Call 000-800-919-1694</h3>
        </div>

        <div class="links">
            <div class="one-links">
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Investor Relations</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Speed Test</a></li>
                </ul>
            </div>

            <div class="one-links">
                <ul>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Cookie Preferences</a></li>
                    <li><a href="#">Legal Notices</a></li>
                </ul>
            </div>

            <div class="one-links">
                <ul>
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Ways to watch</a></li>
                    <li><a href="#">Corporate Information</a></li>
                    <li><a href="#">Only on Netflix</a></li>
                </ul>
            </div>

            <div class="one-links">
                <ul>
                    <li><a href="#">Media center</a></li>
                    <li><a href="#">Terms of use</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>

        <div class="nav">
            <ul>
                <li>
                    <select name="" id="">
                        <option value="">English</option>
                        <option value="">हिन्दी</option>
                    </select>
                </li>
            </ul>
        </div>
        <p style="margin-top: 30px;">Netflix India</p>
    </footer>


</body>

</html>