<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/styles/style.css">
    <link rel="stylesheet" href="./assets/styles/media.css">
</head>

<body>
    <div class="container">
        <header class="navbar">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Logonetflix.png" alt="Netflix Logo"
                class="logo">
            <div class="nav">
                <ul>
                    <li>
                        <select name="" id="">
                            <option value="">English</option>
                            <option value="">हिन्दी</option>
                        </select>
                    </li>
                </ul>
            </div>
            <button class="sign-in-btn">Sign In</button>
        </header>

        <div class="content">
            <h1 class="movie-title">Devara</h1>
            <div class="movie-info">
                <span>2024</span>
                <span>|</span>
                <span>U/A 16+</span>
                <span>|</span>
                <span>Movie</span>
                <span>|</span>
                <span>Action</span>
                <span>|</span>
                <span>Drama</span>
            </div>
            <p class="movie-description">
                A mighty sea warrior takes a violent stand against the criminal deeds of his village. Years later, his
                mild-mannered son walks a path of his own.
            </p>
            <button class="get-started-btn">Get Started</button>
        </div>
    </div>
</body>

</html>