<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/styles/style.css">
    <link rel="stylesheet" href="./assets/styles/media.css">
</head>

<body>
    <section class="banner5">
        <section class="header">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Logonetflix.png" alt="logo">

            <div class="nav">
                <ul>
                    <li>
                        <select name="" id="">
                            <option value="">English</option>
                            <option value="">हिन्दी</option>
                        </select>
                    </li>
                </ul>
            </div>
        </section>

        <section class="banner5-hero">
            <div>
                <h1>Unlimited movies, TV <br> shows and more</h1>
                <p><big>Starts at ₹149. Cancel at any time.</big></p>
                <p>Ready to watch? Enter your email to create or restart your membership.</p>

                <div class="email">
                    <input type="email" name="" id="" placeholder="Enter your Email">
                    <button>Get Started > </button>
                </div>
            </div>
        </section>
    </section>
    <section class="g-section">
        <div class="g-main">

        </div>
    </section>

</body>

</html>